@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100..900&display=swap");
@import "tailwindcss";

body {
  background-color: #fff8dfeb;
}

.bg-primary {
  background-color: #fff8df;
}

.text-poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.text-primary {
  color: #1e1d1aeb;
}
